@{
    Layout="Shared/_Layout.cshtml";
}

<h1>The Bands</h1>
<ul class="collapsible popout" data-collapsible="accordion">
    @foreach (var band in @Model)
    {
        <li><a href="/bands/@band.GetId()">@band.GetName()</a></li>
    }
</ul>

<p><a href="/">Home</a></p>
<p><a href="/bands/new">Add Band</a></p>
<p><a href="/venues">View All Venues</a></p>
