@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Delete @Model.GetName()</h1>

<h3>Are you sure you want to delete @Model.GetName()?</h3>

<form action="/venues/@Model.GetId()" method="post">
    <input type="hidden" name="" value="">
    <button type="submit" class="btn">Change</button>
</form>

<p><a href="/venues/@Model.GetId()">Back to @Model.GetName()</a></p>
<p><a href="/venues">All Venues</a></p>
<p><a href="/">Home</a></p>
