@{
    Layout="Shared/_Layout.cshtml";
}

<h1>New Venue</h1>

<form action="/venues" method="post">
    <div class="input-field">
        <label for="venue-name">Venue Name</label>
        <input type="text" name="venue-name">
    </div>
    <button type="submit">Add New Venue</button>
</form>

<p><a href="/">Home</a></p>
<p><a href="/venues">Back</a></p>
<p><a href="/bands">View All Bands</a></p>
